In [9]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

from google.colab import drive

drive.mount('/content/gdrive/')
NewCustomers = pd.read_csv('/content/gdrive/My Drive/KPMG/NewCustomers.csv')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [12]:
NewCustomers = NewCustomers[['first_name', 'last_name', 'gender','DOB', 'job_industry_category', 'wealth_segment', 'owns_car', 'state']]

In [13]:
NewCustomers.head()

,first_name,last_name,gender,DOB,job_industry_category,wealth_segment,owns_car,state
0,Chickie,Brister,Male,7/12/1957,Manufacturing,Mass Customer,Yes,QLD
1,Morly,Genery,Male,3/22/1970,Property,Mass Customer,No,NSW
2,Ardelis,Forrester,Female,8/28/1974,Financial Services,Affluent Customer,No,VIC
3,Lucine,Stutt,Female,1/28/1979,Manufacturing,Affluent Customer,Yes,QLD
4,Melinda,Hadlee,Female,9/21/1965,Financial Services,Affluent Customer,No,NSW

In [22]:
NewCustomers['DOB'] = pd.to_datetime(NewCustomers.DOB)

NewCustomers['AGE'] = ((pd.datetime.datetime.now()- NewCustomers.DOB)).dt.days

NewCustomers['AGE'] = np.floor(NewCustomers.AGE / 365)
NewCustomers = NewCustomers[NewCustomers.AGE <= 100]

age_bucket = [0, 20, 40, 60, 80, 100]
age_groups = ['Age : 0 - 20', 'Age : 21 - 40', 'Age : 41 - 60', 'Age : 61 - 80', 'Age : 81 - 100']
NewCustomers['Age_Groups'] = pd.cut(NewCustomers['AGE'], age_bucket, labels=age_groups)

NewCustomers.dropna(subset = ['job_industry_category'], how = 'any', inplace = True)
NewCustomers.isna().sum()

first_name                0
last_name                23
gender                    0
DOB                       0
job_industry_category     0
wealth_segment            0
owns_car                  0
state                     0
AGE                       0
Age_Groups                0
dtype: int64

In [24]:
print (NewCustomers.job_industry_category.unique())
print (NewCustomers.gender.unique())
print (NewCustomers.state.unique())
print (NewCustomers.wealth_segment.unique())
print (NewCustomers.owns_car.unique())

['Manufacturing' 'Property' 'Financial Services' 'Entertainment' 'Retail'
 'IT' 'Telecommunications' 'Health' 'Argiculture']
['Male' 'Female']
['QLD' 'NSW' 'VIC']
['Mass Customer' 'Affluent Customer' 'High Net Worth']
['Yes' 'No']

In [25]:
NewCustomers.to_csv('/content/gdrive/My Drive/KPMG/NewCustomers_Dataset.csv')