In [43]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

from google.colab import drive

drive.mount('/content/gdrive/')
data = pd.read_csv('/content/gdrive/My Drive/KPMG/Transactions.csv', index_col='transaction_date')

data.head()
data.info()

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
Index: 20001 entries, 10/7/17 to nan
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20001 non-null  object
 1   product_id               20000 non-null  float64
 2   customer_id              20000 non-null  float64
 3   online_order             19640 non-null  object
 4   order_status             20000 non-null  object
 5   brand                    19803 non-null  object
 6   product_line             19803 non-null  object
 7   product_class            19803 non-null  object
 8   product_size             19803 non-null  object
 9   list_price               20000 non-null  float64
 10  standard_cost            19803 non-null  object
 11  product_first_sold_date  19803 non-null  float64
 12  Unnamed: 13              0 non-null      float64
 13  Unnamed: 14              0 non-null      float64
 14  Unnamed: 15              0 non-null      float64
 15  Unnamed: 16              0 non-null      float64
 16  Unnamed: 17              0 non-null      float64
dtypes: float64(9), object(8)
memory usage: 2.7+ MB

In [44]:
#data.standard_cost = data.standard_cost.astype(str)
data.standard_cost = data.standard_cost.str.replace('$', '')
data.standard_cost = data.standard_cost.str.replace(',', '').astype(float)

data.standard_cost.head()

transaction_date
10/7/17     312.735016
1/27/17     270.299988
1/3/17      667.400024
8/8/17     1167.180000
4/25/17      53.620000
Name: standard_cost, dtype: float64

In [45]:
data = data[['brand', 'list_price', 'standard_cost']]

data['profit'] = (data.list_price - data.standard_cost)

data.index = pd.to_datetime(data.index)

data.sort_values('transaction_date', inplace = True)

data.dropna(how = 'any', inplace = True)

data.head()

                           brand  list_price  standard_cost  profit
transaction_date
2017-01-01        Norco Bicycles     1216.14        1082.36  133.78
2017-01-01                 Solex     1577.53         826.51  751.02
2017-01-01            OHM Cycles     1458.17         874.90  583.27
2017-01-01                 Solex     1061.56         733.58  327.98
2017-01-01            OHM Cycles      795.34         101.58  693.76

In [46]:
Brands_Sold = data.groupby('transaction_date').brand.value_counts(sort = False)
Brands_Sold.to_excel('/content/gdrive/My Drive/KPMG/Brands_Sold.xlsx')
Brands_Sold.head()

transaction_date  brand
2017-01-01        Giant Bicycles     8
                  Norco Bicycles     4
                  OHM Cycles         9
                  Solex             13
                  Trek Bicycles      6
Name: brand, dtype: int64

In [47]:
Brands_Profit = data.groupby(['transaction_date', 'brand']).profit.sum()
Brands_Profit.to_excel('/content/gdrive/My Drive/KPMG/Brands_Profit.xlsx')
Brands_Profit.head()

transaction_date  brand
2017-01-01        Giant Bicycles    4228.90
                  Norco Bicycles     532.71
                  OHM Cycles        6488.74
                  Solex             8572.62
                  Trek Bicycles     3770.54
Name: profit, dtype: float64

In [48]:
data['date'] = data.index
data['month'] = data.date.dt.month.astype(int)

data.head()
data.tail()

,brand,list_price,standard_cost,profit,date,month
transaction_date,,,,,,
2017-12-30,Giant Bicycles,569.56,528.43,41.13,2017-12-30,12
2017-12-30,WeareA2B,1362.99,57.74,1305.25,2017-12-30,12
2017-12-30,Trek Bicycles,499.53,388.72,110.81,2017-12-30,12
2017-12-30,OHM Cycles,1073.07,933.84,139.23,2017-12-30,12
2017-12-30,Giant Bicycles,590.26,525.33,64.93,2017-12-30,12

In [57]:
data_monthly = data[['month', 'brand', 'profit']]

Brands_Sold_Monthly = data_monthly.groupby(['brand', 'month']).brand.value_counts()
Brands_Sold_Monthly.to_excel('/content/gdrive/My Drive/KPMG/Brands_Sold_Monthly.xlsx')
Brands_Sold_Monthly.head()

brand           month  brand
Giant Bicycles  1      Giant Bicycles    280
                2      Giant Bicycles    268
                3      Giant Bicycles    239
                4      Giant Bicycles    265
                5      Giant Bicycles    301
Name: brand, dtype: int64

In [58]:
Brands_Profit_Monthly = data.groupby(['brand', 'month']).profit.sum()
Brands_Profit_Monthly.to_excel('/content/gdrive/My Drive/KPMG/Brands_Profit_Monthly.xlsx')
Brands_Profit_Monthly.head()

brand           month
Giant Bicycles  1        127873.66
                2        129369.78
                3        109673.33
                4        130733.86
                5        153394.93
Name: profit, dtype: float64